/*form{
    background: rgb(178, 230, 173);
    border-radius: 15px;
}*/
form {
    background: #69727b;
    border-radius: 15px;
    color:#f0f8ff
}
.BookSearchLabel{
    margin-left:20px;
    margin-top: 10px
}
.submitBtn{
    margin-bottom: 10px;
    margin-left: 20px;
}
.form-control{
    margin-left: 20px;
    width: 95%
}